# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CG\2022-2-RayTracing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
